{% set href = module.link.url.href %}
{% if module.link.url.type == "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}

{% set rel = [] %}
{% if module.link.no_follow %}
  {% do rel.append("nofollow") %}
{% endif %}
{% if module.link.open_in_new_tab %}
  {% do rel.append("noopener") %}
{% endif %}

<a class="link" href="{{ href|escape_url }}"
  {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
  {% if rel %}rel="{{ rel|join(" ")|escape_attr }}"{% endif %}
>
  {{ module.link_text|escape_html }}
</a>
