<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home"
%}

  {# Hero banner #}
  {% include_dnd_partial path="../sections/hero-banner.html" %}

  {# Trust Badges #}
  {% include_dnd_partial path="../sections/trust-ticker.html" %}

  {# Grid Col #}
  {% include_dnd_partial path="../sections/grid-col.html" %}

  {# Image with text #}
  {% include_dnd_partial path="../sections/image-with-text.html" %}

  {# Counters #}
  {% include_dnd_partial path="../sections/counters.html" %}

  {# Testimonial #}
  {% include_dnd_partial path="../sections/testimonial.html" %}

  {# Case studies #}
  {% include_dnd_partial path="../sections/case-studies.html" %}

  {# CTA banner #}
  {% include_dnd_partial path="../sections/cta-banner.html" %}

{% end_dnd_area %}
{% endblock body %}
